USE [master]
GO
/****** Object:  Database [RestaurantManagementDB]    Script Date: 7/3/2026 2:25:32 PM ******/
CREATE DATABASE [RestaurantManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RestaurantManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RestaurantManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RestaurantManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RestaurantManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestaurantManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestaurantManagementDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/3/2026 2:25:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoriesName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 7/3/2026 2:25:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KitchenTask]    Script Date: 7/3/2026 2:25:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitchenTask](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderItemsID] [int] NOT NULL,
	[MenuItemsID] [int] NOT NULL,
	[ChefID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[StartedAt] [datetime] NOT NULL,
	[CompletedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_KitchenTask] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 7/3/2026 2:25:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemsName] [nvarchar](50) NOT NULL,
	[CategoriesID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ImageUrl] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_MenuItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 7/3/2026 2:25:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TableOrderID] [int] NOT NULL,
	[MenuItemsID] [int] NOT NULL,
	[OrderQuantity] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 7/3/2026 2:25:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [CategoriesName], [Description], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Drinks', N'eee eeee', 1, CAST(N'2026-01-02T00:00:00.000' AS DateTime), CAST(N'2026-02-06T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Categories] ([ID], [CategoriesName], [Description], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (4, N'Fast Food', N'www www', 0, CAST(N'2026-02-03T00:00:00.000' AS DateTime), CAST(N'2026-01-02T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([ID], [ProductName], [Quantity], [Unit], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Chicken', 114, N'Kg', CAST(N'2026-05-21T10:17:01.480' AS DateTime), 2)
INSERT [dbo].[Inventory] ([ID], [ProductName], [Quantity], [Unit], [UpdatedAt], [UpdatedBy]) VALUES (6, N'Flour', 40, N'kg', CAST(N'2026-05-21T05:45:54.813' AS DateTime), 5)
INSERT [dbo].[Inventory] ([ID], [ProductName], [Quantity], [Unit], [UpdatedAt], [UpdatedBy]) VALUES (7, N'Cheese', 100, N'Gm', CAST(N'2036-01-02T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[KitchenTask] ON 

INSERT [dbo].[KitchenTask] ([ID], [OrderItemsID], [MenuItemsID], [ChefID], [Status], [StartedAt], [CompletedAt], [UpdatedBy]) VALUES (2, 3, 3, 5, N'Ready', CAST(N'2026-05-21T05:10:28.660' AS DateTime), CAST(N'2026-05-21T05:10:28.660' AS DateTime), 5)
INSERT [dbo].[KitchenTask] ([ID], [OrderItemsID], [MenuItemsID], [ChefID], [Status], [StartedAt], [CompletedAt], [UpdatedBy]) VALUES (5, 3, 3, 2, N'Ready', CAST(N'2026-05-21T10:16:14.267' AS DateTime), CAST(N'2026-05-21T10:16:14.267' AS DateTime), 2)
INSERT [dbo].[KitchenTask] ([ID], [OrderItemsID], [MenuItemsID], [ChefID], [Status], [StartedAt], [CompletedAt], [UpdatedBy]) VALUES (6, 3, 5, 2, N'Ready', CAST(N'2026-05-21T09:57:50.903' AS DateTime), CAST(N'2026-05-21T09:57:50.903' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[KitchenTask] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

INSERT [dbo].[MenuItems] ([ID], [ItemsName], [CategoriesID], [Price], [Description], [IsActive], [Quantity], [ImageUrl], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (3, N'Pizza', 2, 100, N'rer rrr', 1, 12, N'gfgf', CAST(N'2026-01-02T00:00:00.000' AS DateTime), CAST(N'2026-02-05T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[MenuItems] ([ID], [ItemsName], [CategoriesID], [Price], [Description], [IsActive], [Quantity], [ImageUrl], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (5, N'MilkShake', 4, 50, N'www ', 0, 20, N'ffff', CAST(N'2026-01-02T00:00:00.000' AS DateTime), CAST(N'2026-01-05T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[MenuItems] ([ID], [ItemsName], [CategoriesID], [Price], [Description], [IsActive], [Quantity], [ImageUrl], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1004, N'Burger', 2, 300, N'Chicken Burger', 0, 20, N'kkk', CAST(N'2026-01-02T00:00:00.000' AS DateTime), CAST(N'2026-01-03T00:00:00.000' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([ID], [TableOrderID], [MenuItemsID], [OrderQuantity], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (3, 1, 3, 2, CAST(N'2026-01-02T00:00:00.000' AS DateTime), CAST(N'2026-01-05T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([ID], [Name], [Email], [Password], [Role]) VALUES (1, N'pulock', N'pu@gmail.com', N'123', N'admin')
INSERT [dbo].[UserInfo] ([ID], [Name], [Email], [Password], [Role]) VALUES (2, N'kundu', N'ku@gmail.com', N'123', N'chef')
INSERT [dbo].[UserInfo] ([ID], [Name], [Email], [Password], [Role]) VALUES (3, N'argho', N'ar@gmail.com', N'123', N'customer')
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_Unit]  DEFAULT (N'Kg') FOR [Unit]
GO
ALTER TABLE [dbo].[KitchenTask] ADD  CONSTRAINT [DF_KitchenTask_MenuItemsID]  DEFAULT ((3)) FOR [MenuItemsID]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Inventory] FOREIGN KEY([ID])
REFERENCES [dbo].[Inventory] ([ID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Inventory]
GO
ALTER TABLE [dbo].[KitchenTask]  WITH CHECK ADD  CONSTRAINT [FK_KitchenTask_KitchenTask] FOREIGN KEY([OrderItemsID])
REFERENCES [dbo].[OrderItems] ([ID])
GO
ALTER TABLE [dbo].[KitchenTask] CHECK CONSTRAINT [FK_KitchenTask_KitchenTask]
GO
ALTER TABLE [dbo].[KitchenTask]  WITH CHECK ADD  CONSTRAINT [FK_KitchenTask_KitchenTask1] FOREIGN KEY([ID])
REFERENCES [dbo].[KitchenTask] ([ID])
GO
ALTER TABLE [dbo].[KitchenTask] CHECK CONSTRAINT [FK_KitchenTask_KitchenTask1]
GO
ALTER TABLE [dbo].[KitchenTask]  WITH CHECK ADD  CONSTRAINT [FK_KitchenTask_KitchenTask2] FOREIGN KEY([ID])
REFERENCES [dbo].[KitchenTask] ([ID])
GO
ALTER TABLE [dbo].[KitchenTask] CHECK CONSTRAINT [FK_KitchenTask_KitchenTask2]
GO
ALTER TABLE [dbo].[KitchenTask]  WITH CHECK ADD  CONSTRAINT [FK_KitchenTask_MenuItems] FOREIGN KEY([MenuItemsID])
REFERENCES [dbo].[MenuItems] ([ID])
GO
ALTER TABLE [dbo].[KitchenTask] CHECK CONSTRAINT [FK_KitchenTask_MenuItems]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_Categories] FOREIGN KEY([CategoriesID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_Categories]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_MenuItems] FOREIGN KEY([ID])
REFERENCES [dbo].[MenuItems] ([ID])
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_MenuItems]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_OrderItems] FOREIGN KEY([MenuItemsID])
REFERENCES [dbo].[MenuItems] ([ID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_OrderItems]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_OrderItems1] FOREIGN KEY([ID])
REFERENCES [dbo].[OrderItems] ([ID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_OrderItems1]
GO
USE [master]
GO
